.container {
    display: flex;
    min-height: 100vh;
}

.desktopSidebar {
    display: block;
}

.main {
    flex: 1;
    margin-left: 260px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .main {
        margin-left: 0;
    }
}

@media (max-width: 640px) {
    .desktopSidebar {
        display: none;
    }

    .main {
        padding: 1rem;
        padding-bottom: 0;
    }
}